.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.item {
    background-color: cadetblue;
    color: white;
    width: 250px;
    height: 50px;
    text-align: right;
}